/* Custom styles for BlogPage component */
.custom-section {
  width: 100%; /* Set the width of each section to cover 100% */
  margin-bottom: 30px; /* Add margin between sections */
}

.custom-post-container {
  display: flex;
  border: 1px solid #ccc; /* Add border around each post */
  padding: 20px; /* Add padding inside the post container */
  margin-bottom: 20px; /* Add margin between posts */
  width: 100%; /* Set the width of the post container to cover 100% */
  box-sizing: border-box; /* Include padding and border in the width */
}

.custom-image-container {
  width: 50%; /* Set width of image container to cover half of the total width */
  padding-right: 20px; /* Add padding to separate image from content */
}

.custom-image-container img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out; /* Add transition effect for hover */
}

.custom-image-container img:hover {
  transform: scale(1.05); /* Scale image on hover */
}

.custom-content-container {
  width: 50%; /* Set width of content container to cover half of the total width */
  margin-left: 15px; /* Add margin to the left of content container */
  text-align: justify; /* Justify text within content container */
}

.custom-heading {
  font-size: 24px;
  margin-bottom: 10px; /* Add margin below heading */
  font-family: "Arial Black", sans-serif; /* Fancy font for heading */
}

.text-muted {
  font-size: 14px;
  color: #888; /* Adjust color of author and date */
  font-family: "Courier New", monospace; /* Fancy font for date */
}

.custom-content {
  font-size: 16px;
  line-height: 1.6; /* Set line height for content */
}
@media (max-width: 768px) {
  .custom-post-container {
    flex-direction: column; /* Change flex direction to stack content vertically */
  }

  .custom-image-container,
  .custom-content-container {
    width: 100%; /* Set width to full for smaller devices */
    padding: 0; /* Remove padding for smaller devices */
    margin: 0; /* Remove margin for smaller devices */
  }

  .custom-image-container {
    margin-bottom: 10px; /* Add margin between image and content for smaller devices */
  }

  .custom-heading {
    font-size: 20px; /* Reduce font size for heading on smaller devices */
  }

  .text-muted {
    font-size: 12px; /* Reduce font size for author and date on smaller devices */
  }
}
