.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../assets//images/bckgr1.jpg");
}

.login-form-container {
  width: 350px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.login-form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form-container input.input-field {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  outline: none;
  color: #1d2129 !important;
  font-size: 14px;
}

.login-form-container input.input-field:focus {
  border-color: #007bff;
}

.login-form-container button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 40px;
}

.login-form-container button[type="submit"]:hover {
  background-color: #0056b3;
}

.login-form-container .error {
  color: red;
  margin-top: 10px;
}

.login-form-container .register-link {
  text-align: right;
  margin-top: 10px;
  caret-color: transparent;
}

.login-form-container .register-link a {
  color: #007bff;
  text-decoration: none;
  caret-color: transparent;
}

.login-form-container .register-link a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .login-form-container {
    max-width: 100%;
    margin: 0 20px;
  }
}